*.dll
*.pdb
*.config
*.cache
obj/Debug/Sniper.Lighting.DMX.csproj.FileListAbsolute.txt
*.txt
packages
Sniper.Lighting.DMX.sln
Sniper.Lighting.DMX.v12.suo
obj/Release/Sniper.Lighting.DMX.csproj.FileListAbsolute.txt